/*Style for all*/

* {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
}


body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-left: 16%;
}

header {
    padding: 50px;
    text-align: center;
    color: black;
}

.logo {
    margin-top: -2%;
    width: 15%;
}

nav {
    text-align: center;
    padding-bottom: 5%;
    margin-top: -11%;

}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: thin;
    
}

nav a:hover {
    border-bottom: 3px solid #99CAC0;
    padding-bottom: 5px;

}


.visited {
    border-bottom: 3px solid #99CAC0;
    padding-bottom: 5px;
}

footer {
    padding-top: 500px;
    color: gray;
}
    



/* INDEX  */

.container{
    display: flex;
}

.col {
    border:1px solid red;
    flex: 1;
}

.big.col{
    flex: 3;
}

.ccfa {

    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25%;

}

.bshop {
    background-color: #99CAC0;
    border: none;
    color: white;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    width: 50%;
    margin-left: 48%;
    margin-top: -18%;
    border-radius: 15px;
    
}

.bju {
    background-color: #9B9898;
    border: none;
    color: white;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    width: 50%;
    margin-right: 30%;
    margin-top: -20%;
    border-radius: 15px;
}

.bshop:hover {
    background: rgba(0,0,0,0);
    color: #303541;
    box-shadow: inset 0 0 0 3px #303541;
}  

.bju:hover {
    background: rgba(0,0,0,0);
    color: #303541;
    box-shadow: inset 0 0 0 3px #303541;
}

.m.col {
    height: 500px;
}

.img1 {
    width: 100%;
    margin-top: 3%;

}

.img2 {
    width: 100%;
    margin-top: 3%;
    
}

.bcontainer {
    margin-top: -18%;
}

.bannerh:hover {
    box-shadow: inset 0 0 0 10px #303541;
}


.minicol{
    display: flex;
}

.banner2 img {
    margin-top: -11%;
}


p {
    margin-top:25%;
}



/*STORE*/

.head {
    outline: solid 2px white;
    padding: 20px;
}


.menu {
    background-color: #333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


.menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}

.menu a:hover {
    background-color: #ADD9D1;
    color: black;
}

.fling-minislide {width:328.66px; height:567px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}

.rows:after {
    clear: both;
    display: -webkit-flex;
}

.columns {
    float: left;
    width: 33.33%;
    padding: 15px;
    padding-bottom: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


.img2s {
    width: 87%;
    padding-bottom: 80px;
    display: flex;
    align-content: center; 
}

.row2s {
    clear: both;
    display: -webkit-flex;
    display: flex;
    justify-content: center;

}

.column2s {
    float: left;
    width: 33.33%;
    padding: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.img3s {
    padding-bottom: 120px;
    width: 80%;
    display: flex;
    align-content: center;
}

.button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 60%;
}


.button:hover {
    background-color: gray;
    color: black;
}

.ps{
    font-size: 20px;
    text-align: justify;
    color: gray;
    text-align: center;
}

.h2s{
    font-size:90px;
    color: gray;
    margin-top:10px;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    justify-content: center;
}

.h22s {
    padding-top: 100px;
    padding-bottom: 187px;
    font-size:90px;
    color: white;
}

.img4s {
    width: 80%;
    padding-bottom: 108px;
}

