/*Style for all*/

* {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
}


body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-left: 16%;
}

header {
    padding: 50px;
    text-align: center;
    color: black;
}

.logo {
    margin-top: -2%;
    width: 15%;
}

nav {
    text-align: center;
    padding-bottom: 5%;
    margin-top: -11%;

}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: thin;
    
}

nav a:hover {
    border-bottom: 3px solid #99CAC0;
    padding-bottom: 5px;

}


.visited {
    border-bottom: 3px solid #99CAC0;
    padding-bottom: 5px;
}

footer {
    padding-top: 500px;
    color: gray;
}
    



/* INDEX  */


.container{
    display: flex;
}

.col {
    flex: 1;
}

.big.col{
    flex: 3;
}

.ccfa {

    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25%;

}

.bshop {
    background-color: #99CAC0;
    border: none;
    color: white;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    width: 50%;
    margin-left: 35%;
    margin-top: -25%;
    border-radius: 15px;
    
}

.bju {
    background-color: #9B9898;
    border: none;
    color: white;
    padding: 5% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    width: 70%;
    margin-right: 10%;
    margin-top: -25%;
    border-radius: 15px;
}


.m.col {
    height: 500px;
}

.img1 {
    width: 100%;
    margin-top: 3%;

}

.img2 {
    width: 100%;
    margin-top: 3%;
    
}

.bcontainer {
    margin-top: -18%;
}

.bannerh:hover {
    box-shadow: inset 0 0 0 10px #303541;
}


.minicol{
    display: flex;
}

.banner2 img {
    margin-top: -11%;
}


p {
    margin-top:10%;
    margin-bottom: 3%;
}

.footer img{
    width: 25%;
    margin-top: 30%;
}

/* STORE */



.menu {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20px;
    color: #303541;
}


.menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    color: #303541;
    
}


.button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button:hover {
    background-color: white;
    color: white;
}
